<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="achivementtrackerbyamit.example.achivetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_kogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/main_kogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AchiveTracker">
        <activity
            android:name=".splash.Onboarding"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".splash.IntroViewPagerAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".alarm.AlarmActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".auth.ForgetpassActivity" />
        <activity android:name=".auth.SignupActivity" />
        <activity android:name=".auth.SigninActivity" />
        <activity android:name=".AddGoalActivity" />
        <activity
            android:name=".splash.SplasshActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" />

        <receiver android:name=".alarm.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>